<!doctype html>
<html>
  <head>
    <title><%=shopName%> North London</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>Welcome to Vet-a-Pet, North London! - please log in to get started on your search.
      <br>In this app, you will be able to search through and find the nearest vet clinic in your area. 
      <br> is currently exclusive to north and north-west london.</p>
    <button><a href="/user">Home page</a></button>    
  </body>
</html>