<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="path/to/main.css">
  <title><%=shopName%> North London</title>
</head>
<body>
  <h1><%=shopName%>: All Clinics in N & NW London.</h1>
  <div id="map" style="height: 400px;"></div>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtQZWbgkz6Qd0C6eY0z6E80ARj4dWsCjk&callback=initMap">
  </script>

  <script>
    function initMap() {
      // Your Google Maps initialization code goes here --> map is displayed.
      var map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 51.57584, lng: -0.1180 },
        zoom: 11
      });

      // Array of coordinates for clinics.
      var coordinatesArray = [
        { lat: 51.5395657748803, lng: -0.101920851619648 },
        { lat: 51.6085744311475, lng: -0.175387379043853 },
        { lat: 51.5997402248134, lng: -0.181659613491675 },
        { lat: 51.5619790744839, lng: -0.100376162675294 },
        { lat: 51.5598804547314, lng: -0.0984508 },
        { lat: 51.5710548026602, lng: -0.149790144180541 },
        { lat: 51.5623571651425, lng: -0.111893215344433 },
        { lat: 51.5838016329989, lng: -0.129660415344433 },
        { lat: 51.6320868971247, lng: -0.0950939609830265 },
        { lat: 51.6009560357627, lng: -0.148208941865552 },
        { lat: -0.148208941865552, lng: -0.142392371163892 },
        { lat: 51.608584279666, lng: -0.17538860129623 },
        { lat: 51.6194782587071, lng: -0.114007126114498 },
        { lat: 51.6238606678812, lng: -0.122858132698542 },
        { lat: 51.5871922647686, lng: -0.0865763416906674 },
        { lat: 51.5538514887264, lng: -0.0883439619715139 },
        { lat: 51.5959431610086, lng: -0.0723719632283971 },
        { lat: 51.6320868971247, lng: -0.0950939609830265 },
        { lat: 51.5676753070056, lng: -0.122417633505364 },
        { lat: 51.6263563575395, lng: -0.159679486508325 },
        { lat: 51.6320868971247, lng: -0.0950939609830265 },
        { lat: 51.5422856816499, lng: -0.154883271163892 },
        { lat: -0.154883271163892, lng: -0.225081360306784 },
        { lat: 51.5492260822096, lng: -0.171008555819459 },
        { lat: 51.5864263245772, lng: -0.232077457672216 },
        { lat: 51.5582748767895, lng: -0.143467951503979 },
        { lat: 51.5519476269522, lng: -0.189709519464945 },
        { lat: 51.6014845756823, lng: -0.208914815344433 },
        { lat: 51.5375557235297, lng: -0.185345571163892 },
        { lat: 51.5805583004214, lng: -0.262366706015008 },
        { lat: 51.5504443073595, lng: -0.2496070880267 },
        { lat: 51.5858423216899, lng: -0.182533169311134 }
      ];

      // Add additional markers from the array
      coordinatesArray.forEach(function (coordinates) {
        var clinicMarkers = new google.maps.Marker({
          position: coordinates,
          map: map
        });
      });
    }
  </script>
    <button><a href="/user">Home page</a></button>    
</body>
</html>
