<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="main.css" />
    <title><%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <header class="header">
      <div class="header_content">
        <a class="logo" href="/">EQUILENS</a>
        <nav>
          <ul class="sidebar">
            <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="login">Log in</a></li>
            <li><a href="register">Sign up</a></li>
            <li><a href="contact"><button>Get in Touch</button></a></li>
          </ul>
        </nav>
        <nav>
            <ul>
              <li class="hideLinks"><a href="/">Home</a></li>
              <li class="hideLinks"><a href="login">Log in</a></li>
              <li class="hideLinks"><a href="register">Sign up</a></li>
              <li class="hideLinks"><a href="contact"><button>Get in Touch</button></a></li>
              <li class="hamburger" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
          </nav>
      </div>
    </header>
    
    <main class="main">
        <h1 class="login_heading">Create an Account</h1>
        <div class="main_content">
          <form class="form" method="POST" action="/registered">
            <p>Please enter your details below to create an account!</p>
            <p>First name: <input class="login_input" id="first" type="text" name="first" placeholder="first name" /></p>
            <p>Last name: <input class="login_input" id="last" type="text" name="last" placeholder="last name" /></p>
            <p>Email: <input class="login_input" id="email" type="email" name="email" placeholder="email" /></p>
            <p>Username: <input class="login_input" id="username" type="text" name="username" placeholder="username" /></p>
            <p>Password: <input class="login_input" id="password" type="password" name="password" placeholder="enter password" /></p>
            <input class="submit_button" type="submit" value="Register" />
            <p>Already have an account?  <a href="login">Sign in here.</a></p>

          </form>
          <img class="login_image" src="Hello-rafiki.png"> 
        </div>
    </main>

    <footer>
      <p class="copyright"> © Copyright 2024. All rights reserved by Sundus Abdi.</p>
    </footer>
    
    
    <script>
      function showSidebar(){
        const sidebar = document.querySelector('.sidebar')
        sidebar.style.display = 'flex'
      }
      function hideSidebar(){
        const sidebar = document.querySelector('.sidebar')
        sidebar.style.display = 'none'
      }
    </script>
  </body>
</html>