<!doctype html>
<html>
  <head>
    <title><%=shopName%> North London</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%> and find your nearest clinic!</h1>
    <form action="/search-result" method="GET">
      <p>Please enter the <b>first part</b> of your postcode. <br>--------</p>
      <input id="search-box" type="text" name="keyword" placeholder="i.e. NW8 or N1">
      <input type="submit" value="Search" >
    </form>
    <button><a href="/user">Home page</a></button>    
  </body>
</html>