<!DOCTYPE html>
<html>
    <head>
        <title> Weather in London </title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <form method="POST" action="/weather-results">
            <label> Enter City: <input id="city" type="text" name="city" placeholder="i.e. London" />
            <input type="submit" value="view results"/>
        </form>
    </body>
    <button><a href="/user">Home page</a></button>  
</html>